.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 400px;
  min-height: 200px;
  padding: 40px;
  border: 1px solid #ff4444;
  border-radius: 20px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.text {
  margin-bottom: 40px;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #ff4444;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}

.btn {
  min-width: 100px;
  margin-right: 5px;
  margin-left: 5px;
}
